@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

#city-search label {
  margin-bottom: 30px;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 90px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.alerts-container {
  position: fixed;
  top: 0;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .charts-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* Welcome Screen Styling - Start */
.WelcomeScreen h1 {
  margin: 30px 0;
  font-weight: bolder;
}

.google-btn {
  width: 260px;
  border: 1px solid #4285f4;
  height: 50px;
  padding: 0;
  box-shadow: 0px 1px 3px 0px gray;
  cursor: pointer;
  margin: 100px auto;
  display: block;
}

.google-btn .google-icon {
  width: 48px;
  height: 48px;
  float: left;
}

.google-btn .google-text {
  font-family: "Roboto";
  line-height: 48px;
  color: #ffffff;
  background-color: #4285f4;
  height: 48px;
  width: 210px;
  display: block;
  float: right;
  word-spacing: 1px;
}

.welcome-text,
.google-text {
  font-size: 1.25rem;
  font-weight: bolder;
}

.privacyLink {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  background-color: white;
  box-shadow: 0px 4px 10px 2px grey;
}

.carouselItem img {
  max-width: 500px !important;
  margin: 10px auto;
}
.carouselCaption {
  position: static;
  color: black;
  max-width: 300px;
  margin: 0 auto;
}

.carousel-indicators {
  bottom: 95px;
}

.carousel-indicators button {
  background-color: orange !important;
}

button.getStartedBtn {
  max-width: 300px;
  width: 100%;
}

@media (max-width: 534px) {
  .WelcomeScreen h1 {
    margin: 10px 0;
    font-size: 1.5em;
  }

  .carouselItem img {
    margin: 0px auto;
  }

  .carouselCaption {
    padding: 10px 0;
  }

  .carouselCaption h3 {
    font-size: 1.2em;
  }

  .carouselCaption p {
    font-size: 0.8em;
  }

  .carousel-indicators {
    position: static;
  }
}

/* Welcome Screen Styling - End */
